/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Nu@font-face { font-family: GeosansLight; src: url('GeosansLight.ttf');  }mans');
/* @font-face { font-family: GeosansLight; src: url('GeosansLight.ttf');  } */
html,body{
	
/* background-image: url('https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050__340.jpg'); */
background-color:black;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
#bg {
   position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  
}
#bg :hover {
 
  
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: auto;
  min-height: 55%;
}

.container{
height: 100%;
align-content: center;
}

.card{
font-family: 'Indie Flower', cursive;
 font-size: 2.6em;
 font-weight: bold;
height: 320px;
margin-top: auto;
margin-bottom: auto;
width: 350px;
background-color: rgba(0,0,0,0.5) !important;

  
}

.card :hover{

}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #007bff;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #007bff;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #007bff;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}